$small_width: 1420px


.product_list__fontstyle
    color: #333
    font: 13px "system-ui", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    font-weight: 400

.product-list__select
    border-radius: 0

.product-list__input
    border-radius: 0

.product-list__header-table
    display: grid
    column-gap: 3px
    grid-template-columns: 15px 135px 70px 135px 135px 135px 70px 250px 115px 1fr 1fr 1fr 
    @media screen and (max-width: $small_width)
        grid-template-columns: 15px 1fr 70px 150px 150px 150px 70px 129px 115px 1fr 1fr 1fr

.product-list__product-row select
    border-radius: 0
    padding-left: 2px
    padding-right: 20px
    ::after
        // position: absolute
        right: 0px

.product-list__product-row input
    border-radius: 0
    padding-left: 2px
    padding-right: 2px

.product-list__product-row textarea
    min-height: 28px
    border-radius: 0
    padding-left: 2px
    padding-right: 2px

.product-list__cols-sizes-10
    grid-area: A1

.product-list__cols-sizes-11
    grid-area: B1

.product-list__cols-sizes-20
    grid-area: A2

.product-list__cols-sizes-21
    grid-area: B2

.product-list__cols-sizes
    display: grid
    column-gap: 5px
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-template-areas: "A1 B1 A2 B2"
    @media screen and (max-width: $small_width)
        grid-template-columns: 1fr 1fr
        grid-template-areas: "A1 A2" "B1 B2"
    // grid-template-columns: 15px 150px 150px 150px 70px 70px 70px 70px 60px 60px 70px 125px 1fr 1fr

.product-list__row-files > div, .product-list__row-prepress > div
    display: grid
    grid-template-columns: 15px 1fr 60px 20px

